@model Topardex.Marca
@{
    ViewData["Title"] = "Nueva Marca";
}

<h1 class="mb-4">Nueva Marca</h1>

<form asp-action="Crear" method="post" class="card p-4 shadow-sm">
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="/Marca" class="btn btn-secondary ms-2">Cancelar</a>
</form>
