@{
    ViewData["Title"] = "Bienvenido a Toppardex";
}

<h1 class="text-center mt-5">Bienvenido a Toppardex</h1>
<p class="text-center">Gestiona clientes, productos, marcas y pedidos de manera simple y rápida.</p>
