@{
    ViewData["Title"] = "Inicio";
}
<div class="text-center mt-5">
    <h1 class="display-4">Bienvenido a Toppardex</h1>
    <p class="lead">Gestión simple y rápida de Clientes, Productos y Pedidos.</p>
    <a href="/Cliente" class="btn btn-primary btn-lg mt-3">Ver Clientes</a>
</div>
