@{
    ViewData["Title"] = "Inicio de sesión";
}

<h2 class="text-center mb-4">Iniciar Sesión</h2>

<form method="post" class="w-50 mx-auto border p-4 rounded shadow">
    <div class="mb-3">
        <label>Email:</label>
        <input type="email" name="email" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Contraseña:</label>
        <input type="password" name="pass" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary w-100">Ingresar</button>

    @if (ViewBag.Error != null)
    {
        <p class="text-danger text-center mt-2">@ViewBag.Error</p>
    }
</form>
